* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #1E1D40, #6C63FF);
  background-attachment: fixed;
  background-size: cover;
}